@tailwind base;
@tailwind components;
@tailwind utilities;
.terminal.xterm.xterm-dom-renderer-owner-1{
  display: none;
}

/* Custom scrollbar styles */

.custom_icon * svg{
  width: 20px;
  height: 20px;
  color: rgb(0, 119, 0);
}
