@tailwind base;
@tailwind components;
@tailwind utilities;

/* Import Tailwind's base styles */
@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

/* Custom scrollbar styles */
::-webkit-scrollbar {
  width: 2px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 6px;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

/* For Firefox */
.custom_row_height .ant-table-cell {
  padding:5px 10px!important;
}
.custom_row_height .ant-table-cell .ant-btn span{
  font-size: 15px !important;
  
}
*{
  font-size: small;
}

textarea.ant-input{
  font-size: small !important;
}

.customIndexTable table{
  border: 1px solid rgb(218, 218, 218) !important;
  padding-bottom: 10px;
  border-radius: 10px !important;
  overflow: hidden !important;
  background-color: transparent !important;
}

.ant-table-wrapper .ant-table-thead >tr>th, .ant-table-wrapper .ant-table-thead >tr>td{
  background-color: transparent !important;
}
.custom_icon * svg{
  width: 20px;
  height: 20px;
}
.ant-table-content{
  background-color: transparent !important;
}

.ant-btn{
  height: auto !important;
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
  padding-top: 8px !important;
  padding-bottom: 8px !important;
}

.pr_decoration::after{
  content: "";
  border-radius: 50px;
  padding: 1px 80px;
  background-color: #1677ff;
}

#buy{
  padding-top: 1px !important;
  padding-bottom: 1px !important;
}

.ant-form-item .ant-form-item-label >label.ant-form-item-required:not(.ant-form-item-required-mark-optional)::before{
  content: none !important;
}

.ant-form-item .ant-form-item-label >label.ant-form-item-required:not(.ant-form-item-required-mark-optional)::after{
  content: "*" !important;
  font-weight: bold;
  color: red;
}
.ant-form-vertical .ant-form-item-label >label::after, .ant-col-24.ant-form-item-label >label::after, .ant-col-xl-24.ant-form-item-label >label::after{
  visibility: visible !important;
}